{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Titulo</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo nostrum assumenda, ullam magni at expedita qui molestias eveniet maxime, eaque deserunt perspiciatis? Fugiat molestiae dicta earum quae atque velit cumque!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/about.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer}}